{{#if error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Note!</strong> {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
<form action="/chat" method="POST" class="chat-select-form">
  <div class="form-control chat-username">
    <label for="username">Username :</label>
    <input type="text" name="username" id="username" placeholder="Enter username..." required />
  </div>
  <div class="form-control chatroom-name">
    <label for="create-room">Create Room :</label>
    <input type="text" name="room" id="create-room" placeholder="Enter room name..." />
  </div>
  <button type="submit" class="btn">Create Chat</button>
</form>
