<div class="chat">
  <header class="chatroom-name"></header>
  <div class="chat-main">
    <div class="chat-users"></div>
    <div class="chat-box"></div>
  </div>
  <form class="chat-submit">
    <input type="text" id="msg" maxlength="600" placeholder="write here...." autocomplete="off" required>
    <button class="submit-btn">Send</button>
  </form>
</div>
